
<div id="promo-code">
<a href='<%= href %>' title='<%= alt %>'><img src='<%= src %>' height='<%= height %>' width='<%= width %>' alt='<%= alt %>'/></a>

<h3>Promote Code Made Fresh For You!</h3>
<div id='twitter'>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.promotejs.com" data-text="Help change the world by promoting better JS documentation!" data-count="vertical">Tweet</a>
</div>
<textarea rows='10' cols='70'>
<a href='<%= href %>' title='<%= alt %>'><img src='<%= src %>' height='<%= height %>' width='<%= width %>' alt='<%= alt %>'/></a>
</textarea>
</div>

<div id="main">
<p><a href='https://developer.mozilla.org/en/JavaScript'>JavaScript</a> (JS) is such a widely used language that you would assume the first hit on google for a search like <a href='http://www.google.com/search?q=JavaScript'>"JavaScript"</a> would yield something of value, right? Well, unfortunately that is not so and in general JS documentation is hard to find through normal search methods, but we don't have to let it be that way!! What if every developer helped to promote the most proper and correct JS documentation? Answer: we could change everything! This is your call to action to help bring down bad documentation and promote proper JS documentation and tutorials!</p>
<p>This will be a long and hard battle, and you will have to write blog posts and articles that link back to documentation that you believe is of high value and quality, but by doing so you are helping change things. For a quick win, help out by copying the provided HTML code above and paste it into your website, your blog, your friend's blog, and be sure to tell your friends why you are doing it - that you believe in better documentation. Also be sure to write a blog post about it AND most importantly link to the documentation for <a href='https://developer.mozilla.org/en/javascript'>JavaScript</a> <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String'>String</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Function'>Function</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array'>Array</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object'>Object</a>, etc.</p>
<h3>What is up with the banner?</h3>
<p>This site generates a unique promote code each time you visit, based on metrics and targets, so just refresh if you want to help promote something different or write your own but link it to proper JavaScript documentation. Ideally you place this code into a site that deals with technology, specifically JavaScript, but not required. Then as more people being to link their articles, note this part is key, AND put buttons in, we can change the search results. We are also working to improve the MDN and other such resources as well as pool them together in a more concise manner. This is not something that is a one off item, but a long term commitment for us, by us to improve things.</p>
<h3>But how will we know if we have succeeded?</h3>
<p>First off success for #promotejs is measured by developers everywhere writing better JavaScript code. A cursory, and easier to track, metric for this will be the placement of targeted documentation in the Search Engine Results page for the targeted keywords. Option one is to check every single keyword every day, but that is crazy. Option two, is to check the trending of keywords over time using: <a href='http://arewefirstyet.com/'>AreWeFirstYet</a>, to which the target answer is yes and we are well on our way!</p>

<h3>But I have some awesome documentation too!</h3>
<p>Excellent, please fork the project add your documentation and send it for review. We are more than happy to have all resources reviewed and curated along with their SEO targeted keywords. This is a community effort, so don't be afraid to roll up your sleeves! Also we will be launching various updates to this campaign, so please check back and see if you can help on those efforts.</p>

<p>If you have any ideas, comments, and/or suggestions about the #promotejs campaign, please either contact <a href='mailto:chris@jsconf.us'>Chris Williams</a> (<a href='http://twitter.com/voodootikigod'>@voodootikigod</a>) or jump into the <a href='irc://irc.freenode.net/jsconf'>JSConf chatroom on irc.freenode.net</a>.
</div>